# if you are using docker no need to change DATABASE_URL
DATABASE_URL="mongodb://admin:password@localhost:27017/outflo?authSource=admin"
LINKEDIN_EMAIL="Your LinkedIn Email"
LINKEDIN_PASSWORD="Your LinkedIn Password"
